@import './variables.scss';
@import '../functions/is-mobile';

html, body {
  width: 100%;
  margin: 0;
  font: 16px Roboto, "Helvetica Neue", Helvetica, Arial, "メイリオ", "Meiryo", "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", sans-serif;

  @include is-mobile {
    overflow-x: hidden;
  }
}

body {
  color: $global-color-text;
  background: $global-color-background;
}


a {
  color: $global-color-link;
  text-decoration: none;
}
