$global-color-thin:       #ccc;
$global-color-active:     #eef;
$global-color-shadow:     #acacac;
$global-color-text:       #333;
$global-color-link:       #2178a3;
$global-color-background: #fafafa;
