.cm-markdown {
  position: relative;
  line-height: 1.35em;
  word-break: break-all;

  h1, h2, h3, h4 {
    border-bottom: 1px solid #ccc;
    line-height: 1em;

    &:first-child {
      margin-top: 0;
    }
  }

  h1 {
    font-size: 24px;
    margin: 36px 0 10px 0;
    padding: 0 0 10px 0;
  }

  h2 {
    font-size: 20px;
    margin: 24px 0 8px 0;
    padding: 0 0 8px 0;
  }

  h3 {
    font-size: 18px;
    margin: 16px 0 7px 0;
    padding: 0 0 7px 0;
  }

  h4 {
    font-size: 16px;
    margin: 16px 0 6px 0;
    padding: 0 0 6px 0;
  }

  h5, h6 {
    font-size: 16px;
    margin: 12px 0 6px 0;
    line-height: 1.35em;
  }

  p {
    margin: 5px 0;
  }

  pre {
    margin: 8px 0 24px 0;

    code {
      display: block;
      width: 100%;
      overflow: auto;
    }
  }

  table {
    width: 100%;
    margin: 8px 0 24px 0;
    border: 1px solid #aaa;
    border-spacing: 0;

    thead {
      background: #dfdfdf;
    }

    th, td {
      padding: 3px;
      border: 1px solid #dfdfdf;
    }
  }
}
