.cm-markdown {
  position: relative;
  line-height: 1.7em;
  word-break: break-all;

  h1, h2, h3, h4 {
    border-bottom: 1px solid #ccc;
    line-height: 1.7em;
    font-weight: normal;

    &:first-child {
      margin-top: 0;
    }
  }

  h1 {
    font-size: 24px;
    font-weight: bold;
    margin: 50px 0 10px 0;
    padding: 0 0 10px 0;
  }

  h2 {
    font-size: 20px;
    font-weight: bold;
    margin: 46px 0 8px 0;
    padding: 0 0 8px 0;
  }

  h3 {
    font-size: 18px;
    margin: 42px 0 7px 0;
    padding: 0 0 7px 0;
  }

  h4 {
    font-size: 16px;
    margin: 38px 0 6px 0;
    padding: 0 0 6px 0;
  }

  h5, h6 {
    font-size: 16px;
    margin: 12px 0 6px 0;
    line-height: 1.7em;
  }

  p {
    margin: 24px 0;
  }

  hr {
    margin: 25px 0;
    border: none;
    border-top: 1px dashed #ccc;
  }

  ul {
    margin: 8px 0 32px 0;
  }

  code {
    margin: 0 3px;
    padding: 0 3px;
    background: #eee;
    color: #d00;
  }

  pre {
    margin: 16px 0 24px 0;
    border-left: 3px solid #2178a3;

    code {
      display: block;
      margin: 0;
      overflow: auto;
    }
  }

  table {
    width: 100%;
    margin: 8px 0 24px 0;
    border: 1px solid #aaa;
    border-spacing: 0;

    thead {
      background: #dfdfdf;
    }

    th, td {
      padding: 3px;
      border: 1px solid #dfdfdf;
    }
  }

  img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
  }
}
