html, body {
  margin: 0;
  font: 16px Roboto, "Helvetica Neue", Helvetica, Arial, "メイリオ", "Meiryo", "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", sans-serif;
}

body {
  color: #333;
  background: #fafafa;
}
